@model IEnumerable<BrandStore.Models.Brand>
@{
    Layout = "_LayoutSuperAdmin";
}

<div class="main-content">
    <section class="static about-sec">
        <div class="container">
            <h1>Yeni Marka Istekleri</h1>
            <table class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                           
                                <td><span class="circle red"></span></td>
                                <td>
                                    <a asp-action="NewBrandRequests2" asp-route-id="@item.Id"><i class="fa fa-check-square"></i></a>
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</div>