@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model IEnumerable<BrandStore.Models.Basket>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
        .card {
            margin: 50px;
            margin-block-start: 50px;
            border: 0px green;
        }
    </style>
</head>
<body>
    <section class="static about-sec">
        <div class="card">
            <h1>@localizer["Title"]</h1>

            @if (Model.Any())
            {
                <table id="myOrderTable" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>@localizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @if (item.Status == "CARGO")
                                    {
                                         <span>@localizer["Cargo"]</span>
                                    }
                                    else if (item.Status == "CANCELED")
                                    {
                                        <span>@localizer["Cancel"]</span>
                                    }
                                    else
                                    {
                                        <span>@localizer["Completed"]</span>
                                    }
                                </td>
                                @if (item.Status == "CARGO")
                                {
                                    <td style="display: flex;">
                                        <a style="padding: 5px;width: 50%;" asp-controller="Home" asp-action="OrderDetails" asp-route-orderId="@item.Id"><input type="submit" value="@localizer["btnDetail"]" class="btn btn-success" /></a>

                                        <a style="padding: 5px;width: 50%;" asp-controller="Home" asp-action="CancelOrder" asp-route-orderId="@item.Id"><input type="submit" value="@localizer["btnCancel"]" class="btn btn-success" /></a>
                                    </td>
                                }
                                else
                                {
                                    <td style="display: flex;">
                                        <a style="padding: 5px;width: 50%;" asp-controller="Home" asp-action="OrderDetails" asp-route-orderId="@item.Id"><input type="submit" value="@localizer["btnDetail"]" class="btn btn-success" /></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p style="margin-left:50px;">@localizer["NoOrder"]</p>
            }
        </div>

    </section>
</body>
</html>



